In [3]:
import pandas as pd
import json
import os
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

## Reading JSON File

In [5]:
with open('LocationHistory.json',encoding='utf-8') as datafile:
    data = json.loads(datafile.read())

df = pd.DataFrame(data['locations'])

In [6]:
df.shape

(837168, 9)

In [13]:
df.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy
0,16,"[{'timestampMs': '1542703943708', 'activity': ...",NaN,NaN,128457582,776618158,2018-11-20 08:53:19.404,NaN,NaN
1,16,NaN,NaN,NaN,128457582,776618158,2018-11-20 08:48:06.947,NaN,NaN
2,16,NaN,NaN,NaN,128457582,776618158,2018-11-20 08:48:03.450,NaN,NaN
3,16,"[{'timestampMs': '1542703643772', 'activity': ...",NaN,NaN,128457582,776618158,2018-11-20 08:48:03.237,NaN,NaN
4,42,"[{'timestampMs': '1542703599146', 'activity': ...",NaN,NaN,128457582,776618158,2018-11-20 08:46:12.262,NaN,NaN

In [12]:
df['timestampMs'] = pd.to_datetime(df['timestampMs'],unit='ms')

In [15]:
df['latitudeE7'] = df['latitudeE7']/1e7
df['longitudeE7'] = df['longitudeE7']/1e7
df.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy
0,16,"[{'timestampMs': '1542703943708', 'activity': ...",NaN,NaN,12.845758,77.661816,2018-11-20 08:53:19.404,NaN,NaN
1,16,NaN,NaN,NaN,12.845758,77.661816,2018-11-20 08:48:06.947,NaN,NaN
2,16,NaN,NaN,NaN,12.845758,77.661816,2018-11-20 08:48:03.450,NaN,NaN
3,16,"[{'timestampMs': '1542703643772', 'activity': ...",NaN,NaN,12.845758,77.661816,2018-11-20 08:48:03.237,NaN,NaN
4,42,"[{'timestampMs': '1542703599146', 'activity': ...",NaN,NaN,12.845758,77.661816,2018-11-20 08:46:12.262,NaN,NaN

In [30]:
df.tail()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy
837163,27,"[{'timestampMs': '1388686224123', 'activity': ...",NaN,NaN,26.249722,78.169696,2014-01-02 18:10:23.317,NaN,NaN
837164,27,NaN,NaN,NaN,26.249722,78.169696,2014-01-02 18:09:23.244,NaN,NaN
837165,27,NaN,NaN,NaN,26.249722,78.169696,2014-01-02 18:08:23.220,NaN,NaN
837166,27,"[{'timestampMs': '1388686043943', 'activity': ...",NaN,NaN,26.249722,78.169696,2014-01-02 18:07:23.163,NaN,NaN
837167,2770,NaN,NaN,NaN,26.250445,78.178779,2013-12-31 13:19:52.203,NaN,NaN

In [ ]:
## Plot
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot(111)
ax.set_title("My locations from 2013 - 2018", fontsize=24)

# Northmost - lat long 33.25615, 76.79877 (33.25615, 97.16575)
## WestMost - 23.71307, 68.03215
# SouthMost - 6.74678, 93.8426 ( 6.74678, 68.03215)
## EastMost - 27.13611, 97.16575

map = Basemap(projection='lcc', resolution='c', lat_0=26.249722, lon_0=78.169696,llcrnrlon=68.03215,llcrnrlat=6.74678,urcrnrlon=97.16575,urcrnrlat=35.67452)

map.shadedrelief()
map.drawcoastlines(color='blue')
map.drawcountries(color='gray')
map.drawstates(color='orange')

## long, lat
x, y = map(df['longitudeE7'].values, df['latitudeE7'].values)

map.scatter(x,y, color='#cc3300',alpha=0.5, s=3)

plt.show()