In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#import seaborn as sb
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

C:\Users\ABC\Miniconda3\envs\fastai\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
train_df = pd.read_csv('training_data.csv')

train_df.head()

,url_id,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,1,731,12,219,0.663594,1.0,0.815385,4,2,1,...,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593
1,2,731,9,255,0.604743,1.0,0.791946,3,1,1,...,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711
2,3,731,9,211,0.575130,1.0,0.663866,3,1,1,...,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500
3,5,731,13,1072,0.415646,1.0,0.540890,19,19,20,...,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505
4,6,731,10,370,0.559889,1.0,0.698198,2,2,0,...,0.136364,0.6,-0.195000,-0.400,-0.100000,0.642857,0.214286,0.142857,0.214286,855

In [3]:
train_df.describe()

,url_id,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
count,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,...,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.000000,28786.00000,28786.000000,28786.000000,28786.000000
mean,19878.678524,353.520635,10.403460,546.455082,0.555111,1.006600,0.695780,10.873063,3.301674,4.548496,...,0.095110,0.756500,-0.260026,-0.522700,-0.107939,0.282659,0.07220,0.341162,0.156628,3428.658549
std,11461.174637,214.420324,2.121334,470.409467,4.130828,6.138155,3.830214,11.155409,3.868232,8.342588,...,0.070577,0.247865,0.127850,0.290469,0.095253,0.323911,0.26614,0.189085,0.226958,12693.940388
min,1.000000,8.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.00000,0.000000,0.000000,1.000000
25%,9916.250000,163.000000,9.000000,245.000000,0.470735,1.000000,0.625926,4.000000,1.000000,1.000000,...,0.050000,0.600000,-0.329167,-0.700000,-0.125000,0.000000,0.00000,0.166667,0.000000,940.250000
50%,19922.500000,337.000000,10.000000,410.000000,0.539302,1.000000,0.691043,8.000000,3.000000,1.000000,...,0.100000,0.800000,-0.253756,-0.500000,-0.100000,0.150000,0.00000,0.500000,0.000000,1400.000000
75%,29852.750000,542.000000,12.000000,716.000000,0.608527,1.000000,0.755155,14.000000,4.000000,4.000000,...,0.100000,1.000000,-0.187500,-0.300000,-0.050000,0.500000,0.15000,0.500000,0.250000,2800.000000
max,39643.000000,731.000000,23.000000,8474.000000,701.000000,1042.000000,650.000000,162.000000,74.000000,128.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.500000,1.000000,843300.000000

In [55]:
df_corr = train_df.corr()

In [64]:
len(df_corr.columns)

61

In [73]:
df_corr[df_corr[' shares'].abs()>0.01].index

Index([' n_tokens_title', ' num_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords',
       ' data_channel_is_entertainment', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_max_min', ' kw_avg_min', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' weekday_is_saturday', ' is_weekend',
       ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' rate_positive_words', ' avg_negative_polarity',
       ' min_negative_polarity', ' max_negative_polarity',
       ' title_subjectivity', ' abs_title_sentiment_polarity', ' shares'],
      dtype='object')

In [75]:
df_train_corr = train_df[[' n_tokens_title', ' num_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords',
       ' data_channel_is_entertainment', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_max_min', ' kw_avg_min', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' weekday_is_saturday', ' is_weekend',
       ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' rate_positive_words', ' avg_negative_polarity',
       ' min_negative_polarity', ' max_negative_polarity',
       ' title_subjectivity', ' abs_title_sentiment_polarity', ' shares']]

df_train_corr[' num_videos'].unique()

array([ 0,  1, 21, 11,  3,  7,  2, 10, 26,  9,  6, 14, 20, 17,  4, 13, 30,
       12,  8, 15, 73, 74, 18, 75, 22, 34,  5, 19, 16, 35, 23, 33, 38, 24,
       32, 25, 27, 50, 51, 42, 53, 65, 31, 29, 59, 58, 28, 48, 36, 46, 49],
      dtype=int64)

In [4]:
x_train = train_df.iloc[:,:-1]
x_train.head()

,url_id,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity
0,1,731,12,219,0.663594,1.0,0.815385,4,2,1,...,0.378636,0.100000,0.7,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500
1,2,731,9,255,0.604743,1.0,0.791946,3,1,1,...,0.286915,0.033333,0.7,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000
2,3,731,9,211,0.575130,1.0,0.663866,3,1,1,...,0.495833,0.100000,1.0,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000
3,5,731,13,1072,0.415646,1.0,0.540890,19,19,20,...,0.411127,0.033333,1.0,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364
4,6,731,10,370,0.559889,1.0,0.698198,2,2,0,...,0.350610,0.136364,0.6,-0.195000,-0.400,-0.100000,0.642857,0.214286,0.142857,0.214286

In [5]:
## checking data channel dataset
#x_ch = x_train.loc[:,' data_channel_is_entertainment']
x_train.loc[:,' data_channel_is_lifestyle'].replace(1,0,inplace=True)
x_train.loc[:,' data_channel_is_entertainment'].replace(1,1,inplace=True)
x_train.loc[:,' data_channel_is_bus'].replace(1,2,inplace=True)
x_train.loc[:,' data_channel_is_socmed'].replace(1,3,inplace=True)
x_train.loc[:,' data_channel_is_tech'].replace(1,4,inplace=True)
x_train.loc[:,' data_channel_is_world'].replace(1,5,inplace=True)

#x_train[:['data_channel_is_entertainment','data_channel_is_bus','data_channel_is_socmed','data_channel_is_tech','data_channel_is_world']].head()
#x_train.columns

In [6]:
x_train.loc[:,[' data_channel_is_lifestyle',' data_channel_is_entertainment',' data_channel_is_bus',' data_channel_is_socmed',' data_channel_is_tech',' data_channel_is_world']].head(2)

,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world
0,0,1,0,0,0,0
1,0,0,2,0,0,0

In [7]:
x_train.iloc[:,13:19]

,data_channel_is_lifestyle,data_channel_is_entertainment,data_channel_is_bus,data_channel_is_socmed,data_channel_is_tech,data_channel_is_world
0,0,1,0,0,0,0
1,0,0,2,0,0,0
2,0,0,2,0,0,0
3,0,0,0,0,4,0
4,0,0,0,0,4,0
5,0,0,0,0,0,0
6,0,0,0,0,4,0
7,0,0,0,0,4,0
8,0,0,0,0,0,5
9,0,0,0,0,0,0
10,0,0,0,0,0,0
11,0,0,0,0,0,0
12,0,0,0,0,0,5
13,0,0,0,0,0,0
14,0,0,2,0,0,0
15,0,0,0,0,0,0
16,0,0,0,0,4,0
17,0,0,0,0,0,5
18,0,0,0,0,4,0
19,0,0,0,0,0,5
20,0,0,2,0,0,0
21,0,0,0,0,4,0
22,0,0,0,0,4,0
23,0,0,0,0,0,0
24,0,0,2,0,0,0
25,0,0,0,0,4,0
26,0,0,0,0,4,0
27,0,0,0,0,0,0
28,0,0,0,0,0,0
29,0,0,0,3,0,0
...,...,...,...,...,...,...
28756,0,0,2,0,0,0
28757,0,0,2,0,0,0
28758,0,0,0,0,4,0
28759,0,0,0,0,0,0
28760,0,0,0,0,0,0
28761,0,0,0,0,4,0
28762,0,0,0,0,0,5
28763,0,0,0,0,0,5
28764,0,0,0,0,0,5
28765,0,0,0,0,0,5
28766,0,0,0,0,0,0
28767,0,0,0,0,0,5
28768,0,0,0,0,0,5
28769,0,0,0,0,0,0
28770,0,0,0,0,4,0
28771,0,0,0,0,4,0
28772,0,0,0,0,4,0
28773,0,0,0,0,4,0
28774,0,0,0,0,0,5
28775,0,0,0,0,0,5
28776,0,1,0,0,0,0
28777,0,0,0,0,0,5
28778,0,0,0,0,0,5
28779,0,0,0,0,0,5
28780,0,0,0,0,0,0
28781,0,1,0,0,0,0
28782,0,0,2,0,0,0
28783,0,0,0,3,0,0
28784,0,0,0,0,0,0
28785,0,0,0,0,0,5

In [8]:
x_train['data_channel'] = x_train.iloc[:,13:19].sum(axis=1)

In [9]:
x_train.columns

Index(['url_id', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' data_channel_is_lifestyle',
       ' data_channel_is_entertainment', ' data_channel_is_bus',
       ' data_channel_is_socmed', ' data_channel_is_tech',
       ' data_channel_is_world', ' kw_min_min', ' kw_max_min', ' kw_avg_min',
       ' kw_min_max', ' kw_max_max', ' kw_avg_max', ' kw_min_avg',
       ' kw_max_avg', ' kw_avg_avg', ' self_reference_min_shares',
       ' self_reference_max_shares', ' self_reference_avg_sharess',
       ' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', 'data_channel'],
      dtype='object')

In [10]:
## Dropping the columns

x_train.drop(x_train.columns[13:19],axis=1,inplace=True)

In [11]:
## checking weekday dataset

x_train.loc[:,' weekday_is_monday'].replace(1,0,inplace=True)
x_train.loc[:,' weekday_is_tuesday'].replace(1,1,inplace=True)
x_train.loc[:,' weekday_is_wednesday'].replace(1,2,inplace=True)
x_train.loc[:,' weekday_is_thursday'].replace(1,3,inplace=True)
x_train.loc[:,' weekday_is_friday'].replace(1,4,inplace=True)
x_train.loc[:,' weekday_is_saturday'].replace(1,5,inplace=True)
x_train.loc[:,' weekday_is_sunday'].replace(1,6,inplace=True)
x_train.loc[:,' is_weekend'].replace(1,7,inplace=True)

#x_train[:['data_channel_is_entertainment','data_channel_is_bus','data_channel_is_socmed','data_channel_is_tech','data_channel_is_world']].head()
#x_train.columns

In [12]:
x_train.iloc[:,25:33]

,weekday_is_monday,weekday_is_tuesday,weekday_is_wednesday,weekday_is_thursday,weekday_is_friday,weekday_is_saturday,weekday_is_sunday,is_weekend
0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
28756,0,1,0,0,0,0,0,0
28757,0,1,0,0,0,0,0,0
28758,0,1,0,0,0,0,0,0
28759,0,1,0,0,0,0,0,0
28760,0,1,0,0,0,0,0,0
28761,0,1,0,0,0,0,0,0
28762,0,1,0,0,0,0,0,0
28763,0,1,0,0,0,0,0,0
28764,0,1,0,0,0,0,0,0
28765,0,1,0,0,0,0,0,0
28766,0,1,0,0,0,0,0,0
28767,0,1,0,0,0,0,0,0
28768,0,1,0,0,0,0,0,0
28769,0,1,0,0,0,0,0,0
28770,0,1,0,0,0,0,0,0
28771,0,1,0,0,0,0,0,0
28772,0,1,0,0,0,0,0,0
28773,0,1,0,0,0,0,0,0
28774,0,1,0,0,0,0,0,0
28775,0,1,0,0,0,0,0,0
28776,0,1,0,0,0,0,0,0
28777,0,1,0,0,0,0,0,0
28778,0,1,0,0,0,0,0,0
28779,0,1,0,0,0,0,0,0
28780,0,1,0,0,0,0,0,0
28781,0,0,2,0,0,0,0,0
28782,0,0,2,0,0,0,0,0
28783,0,0,2,0,0,0,0,0
28784,0,0,2,0,0,0,0,0
28785,0,0,2,0,0,0,0,0

In [13]:
x_train['weekday'] = x_train.iloc[:,25:33].sum(axis=1)
x_train['weekday'].head()

0    0
1    0
2    0
3    0
4    0
Name: weekday, dtype: int64

In [14]:
x_train.columns[25:33]

Index([' weekday_is_monday', ' weekday_is_tuesday', ' weekday_is_wednesday',
       ' weekday_is_thursday', ' weekday_is_friday', ' weekday_is_saturday',
       ' weekday_is_sunday', ' is_weekend'],
      dtype='object')

In [15]:
x_train.drop(x_train.columns[25:33],axis=1,inplace=True)

In [16]:
x_train.columns

Index(['url_id', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' kw_min_min', ' kw_max_min',
       ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', 'data_channel', 'weekday'],
      dtype='object')

In [17]:
## Target value

y_train = train_df.iloc[:,-1]
y_train.head()

0     593
1     711
2    1500
3     505
4     855
Name:  shares, dtype: int64

In [18]:
x_train.shape,y_train.shape

((28786, 48), (28786,))

In [19]:
x_train_bkp = x_train
y_train_bkp = y_train

In [20]:
X_train,X_test,y_train,y_test = train_test_split(x_train,y_train,test_size=0.33,random_state=42)

X_train.shape,y_train.shape,X_test.shape,y_test.shape

((19286, 48), (19286,), (9500, 48), (9500,))

## Linear Regression

In [21]:
## Linear Regression
from sklearn.linear_model import LinearRegression

X_train_linear = X_train
y_train_linear = y_train
X_test_linear = X_test
y_test_linear = y_test
regr_linear = LinearRegression().fit(X_train_linear, y_train_linear)
regr_linear.score(X_train_linear, y_train_linear)

0.02659102886976628

In [22]:
## Root Mean square error

prediction_train_linear = np.array(regr_linear.predict(X_train_linear),dtype=np.int64).reshape(1,-1)
prediction_test_linear = np.array(regr_linear.predict(X_test_linear),dtype=np.int64).reshape(1,-1)

y_train_linear = np.array(y_train_linear).reshape(1,-1)
y_test_linear = np.array(y_test_linear).reshape(1,-1)

print("Training accuracy: (RMSE) ",np.sqrt(mean_squared_error(prediction_train_linear,y_train_linear)))
print("Test accuracy: (RMSE) ",np.sqrt(mean_squared_error(prediction_test_linear,y_test_linear)))

Training accuracy: (RMSE)  12778.41701905237
Test accuracy: (RMSE)  12142.648191473503

In [23]:
#list(prediction_test_linear[0])[:100]
#list(y_test_linear[0])[:100]

In [24]:
# Random Forest

X_train_rf = X_train
y_train_rf = y_train
X_test_rf = X_test
y_test_rf = y_test

regr = RandomForestRegressor(max_depth=2, random_state=0,n_estimators=100)
regr.fit(X_train_rf,y_train_rf)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=2,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [25]:
X_train_rf.shape,y_train_rf.shape,X_test_rf.shape,y_test_rf.shape

((19286, 48), (19286,), (9500, 48), (9500,))

In [26]:
prediction_train_rf = np.array(regr.predict(X_train_rf),dtype=np.int64).reshape(-1,1)
prediction_test_rf = np.array(regr.predict(X_test_rf),dtype=np.int64).reshape(-1,1)

y_train_rf = np.array(y_train_rf).reshape(-1,1)
y_test_rf = np.array(y_test_rf).reshape(-1,1)

print(prediction_train_rf.shape,y_train_rf.shape,prediction_test_rf.shape,y_test_rf.shape)

print("Training accuracy: (RMSE) ",np.sqrt(mean_squared_error(prediction_train_rf,y_train_rf)))
print("Test accuracy: (RMSE) ",np.sqrt(mean_squared_error(prediction_test_rf,y_test_rf)))

(19286, 1) (19286, 1) (9500, 1) (9500, 1)
Training accuracy: (RMSE)  12113.649546147075
Test accuracy: (RMSE)  12434.743584226966

In [27]:
#list(y_test_rf)[:100]

In [28]:
## Support Vector Machine

from sklearn.svm import SVR

X_train_sv = X_train
y_train_sv = y_train
X_test_sv = X_test
y_test_sv = y_test

clf_sv = SVR(C=1, epsilon=0.2)
clf_sv.fit(X_train_sv,y_train_sv)

SVR(C=1, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [29]:
predicted_test_sv = clf_sv.predict(X_test_sv)

In [30]:
print("Test accuracy: (RMSE) ",np.sqrt(mean_squared_error(predicted_test_sv,y_test_sv)))

Test accuracy: (RMSE)  12329.27039220147

In [50]:
predicted_test_sv

array([1400.81081081, 1400.81081081, 1400.81081081, ..., 1400.81081081,
       1400.81081081, 1400.81081081])

In [ ]:
## Comparing test results with ground truth
calibration_data = pd.DataFrame()
calibration_data["predictions"] = pd.Series(clf_sv.predict(X_test))
calibration_data["targets"] = pd.Series(y_test)
calibration_data.describe()

In [33]:
## Checking on Testing data

df_test = pd.read_csv('test_data.csv')
df_test.head()

,url_id,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,avg_positive_polarity,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity
0,4,731,9,531,0.503788,1.0,0.665635,9,0,1,...,0.385965,0.136364,0.80,-0.369697,-0.6000,-0.166667,0.00,0.00,0.50,0.00
1,11,731,9,1248,0.490050,1.0,0.731638,11,0,1,...,0.404480,0.100000,1.00,-0.415064,-1.0000,-0.100000,0.00,0.00,0.50,0.00
2,15,731,8,259,0.562753,1.0,0.644444,19,3,9,...,0.249091,0.136364,0.50,-0.138690,-0.1875,-0.050000,0.75,0.55,0.25,0.55
3,20,731,8,1207,0.410579,1.0,0.548969,24,24,42,...,0.426568,0.100000,1.00,-0.226786,-0.5000,-0.050000,0.50,0.00,0.00,0.00
4,26,731,8,266,0.572581,1.0,0.721088,5,2,1,...,0.295238,0.250000,0.35,-0.116667,-0.2000,-0.050000,0.90,0.40,0.40,0.40

In [35]:
## checking data channel dataset
#x_ch = x_train.loc[:,' data_channel_is_entertainment']
df_test.loc[:,' data_channel_is_lifestyle'].replace(1,0,inplace=True)
df_test.loc[:,' data_channel_is_entertainment'].replace(1,1,inplace=True)
df_test.loc[:,' data_channel_is_bus'].replace(1,2,inplace=True)
df_test.loc[:,' data_channel_is_socmed'].replace(1,3,inplace=True)
df_test.loc[:,' data_channel_is_tech'].replace(1,4,inplace=True)
df_test.loc[:,' data_channel_is_world'].replace(1,5,inplace=True)

#x_train[:['data_channel_is_entertainment','data_channel_is_bus','data_channel_is_socmed','data_channel_is_tech','data_channel_is_world']].head()
#x_train.columns

In [36]:
df_test['data_channel'] = df_test.iloc[:,13:19].sum(axis=1)

In [38]:
df_test.columns[13:19]

Index([' data_channel_is_lifestyle', ' data_channel_is_entertainment',
       ' data_channel_is_bus', ' data_channel_is_socmed',
       ' data_channel_is_tech', ' data_channel_is_world'],
      dtype='object')

In [39]:
## Dropping the columns

df_test.drop(df_test.columns[13:19],axis=1,inplace=True)

In [40]:
df_test.columns

Index(['url_id', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' kw_min_min', ' kw_max_min',
       ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' weekday_is_monday',
       ' weekday_is_tuesday', ' weekday_is_wednesday', ' weekday_is_thursday',
       ' weekday_is_friday', ' weekday_is_saturday', ' weekday_is_sunday',
       ' is_weekend', ' LDA_00', ' LDA_01', ' LDA_02', ' LDA_03', ' LDA_04',
       ' global_subjectivity', ' global_sentiment_polarity',
       ' global_rate_positive_words', ' global_rate_negative_words',
       ' rate_positive_words', ' rate_negative_words',
       ' avg_positive_polarity', ' min_positive_polarity',
       ' max_positive_polarity', ' avg_negative_polarity',
       ' min_negative_polarity', ' max_negative_polarity',
       ' title_subjectivity', ' title_sentiment_polarity',
       ' abs_title_subjectivity', ' abs_title_sentiment_polarity',
       'data_channel'],
      dtype='object')

In [41]:
## checking weekday dataset

df_test.loc[:,' weekday_is_monday'].replace(1,0,inplace=True)
df_test.loc[:,' weekday_is_tuesday'].replace(1,1,inplace=True)
df_test.loc[:,' weekday_is_wednesday'].replace(1,2,inplace=True)
df_test.loc[:,' weekday_is_thursday'].replace(1,3,inplace=True)
df_test.loc[:,' weekday_is_friday'].replace(1,4,inplace=True)
df_test.loc[:,' weekday_is_saturday'].replace(1,5,inplace=True)
df_test.loc[:,' weekday_is_sunday'].replace(1,6,inplace=True)
df_test.loc[:,' is_weekend'].replace(1,7,inplace=True)

In [42]:
df_test['weekday'] = df_test.iloc[:,25:33].sum(axis=1)

In [44]:
df_test.drop(df_test.columns[25:33],axis=1,inplace=True)

In [45]:
df_test.columns

Index(['url_id', ' timedelta', ' n_tokens_title', ' n_tokens_content',
       ' n_unique_tokens', ' n_non_stop_words', ' n_non_stop_unique_tokens',
       ' num_hrefs', ' num_self_hrefs', ' num_imgs', ' num_videos',
       ' average_token_length', ' num_keywords', ' kw_min_min', ' kw_max_min',
       ' kw_avg_min', ' kw_min_max', ' kw_max_max', ' kw_avg_max',
       ' kw_min_avg', ' kw_max_avg', ' kw_avg_avg',
       ' self_reference_min_shares', ' self_reference_max_shares',
       ' self_reference_avg_sharess', ' LDA_00', ' LDA_01', ' LDA_02',
       ' LDA_03', ' LDA_04', ' global_subjectivity',
       ' global_sentiment_polarity', ' global_rate_positive_words',
       ' global_rate_negative_words', ' rate_positive_words',
       ' rate_negative_words', ' avg_positive_polarity',
       ' min_positive_polarity', ' max_positive_polarity',
       ' avg_negative_polarity', ' min_negative_polarity',
       ' max_negative_polarity', ' title_subjectivity',
       ' title_sentiment_polarity', ' abs_title_subjectivity',
       ' abs_title_sentiment_polarity', 'data_channel', 'weekday'],
      dtype='object')

In [47]:
calibration_data = pd.DataFrame()
calibration_data["url_id"] = df_test['url_id']
calibration_data["shares"] = pd.Series(clf_sv.predict(df_test))
calibration_data.describe()

             url_id        shares
count  10858.000000  10858.000000
mean   19673.563271   1400.810810
std    11398.926957      0.000079
min        4.000000   1400.802538
25%     9903.250000   1400.810811
50%    19528.000000   1400.810811
75%    29415.500000   1400.810811
max    39644.000000   1400.810811

In [49]:
calibration_data.to_csv('PythonExport.csv', sep=',',index=False)